@model IEnumerable<Domaci_MVC_1.Models.Book>

@{
    ViewBag.Title = "Pretraga";
}

<h2>Rezultati pretrage</h2>

@{var vrstaPretrage = (@Request["tipPretrage"] == "1") ? "knjiga" : "poglavlje"; }
@{
    if (Model != null)
    {
        <table class="table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                   Chapters
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        <ul>
                            @foreach (var chapter in item.Chapters.Values)
                            {
                                <li>@chapter.Name</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </table>
    }

    else
    {
        <h3 class="alert-warning">Ne postoji [@vrstaPretrage] sa nazivom: "@Request["Name"]".</h3>
    }
}
@Html.ActionLink("Nazad na pretragu", "Index", "Pretraga")

 
