@using Domaci_MVC_1.Models;
@using Domaci_MVC_1.Controllers;

@model IEnumerable<Book>

@{
    ViewBag.Title = "Lista obrisanih knjiga";
}

<h2>Deleted books</h2>

@{
    if (Model != null)
    {
        <table id="filterForm_list">
            <tr>
                <td colspan="2">
                    <span><b>Sortiraj: </b></span>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post" action="/Bookstore/Deleted/">
                        <select name="kriterijumSortiranja">
                            <option value="1">po nazivu (A-Z)</option>
                            <option value="2">po nazivu (Z-A)</option>
                            <option value="3">po ceni (rastuće)</option>
                            <option value="4">po ceni (opadajuće)</option>
                        </select>
                        <input type="submit" value="sortiraj" />
                    </form>
                </td>
            </tr>
        </table>
        <br />
        <table class="table-striped table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Genre</th>
            </tr>
            @foreach (Book b in Model)
            {
                if (b.isDeleted)
                {
                    <tr>
                        <td>@b.Id</td>
                        <td>@b.Name</td>
                        <td>@b.Price</td>
                        <td>@b.Genre</td>
                    </tr>
                }

            }
        </table>
    }
    else
    {
        <h2 class="alert-warning">Nema knjiga za prikaz!</h2>
    }

}
        



<div>
    @Html.ActionLink("Link for homepage", "Index", "Bookstore")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
