@using Domaci_MVC_1.Models;
@using Domaci_MVC_1.Controllers;

@model IEnumerable<Book>

@{
    ViewBag.Title = "Lista svih knjiga";
}

<h2>All books:</h2>

@{ if (Model != null)
    {
        <table id="filterForm_list">
            <tr >
                <td colspan="2">
                    <span><b>Sortiraj: </b></span>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post" action="/Bookstore/List/">
                        <select name="kriterijumSortiranja">
                            <option value="1">po nazivu (A-Z)</option>
                            <option value="2">po nazivu (Z-A)</option>
                            <option value="3">po ceni (rastuće)</option>
                            <option value="4">po ceni (opadajuće)</option>
                        </select>
                        <button type="submit"  value="sortiraj" class="glyphicon glyphicon-sort" title="sortiraj" />
                    </form>
                </td>
            </tr>
        </table>
        <br />
        <table class="table-striped table-bordered">
            
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Genre</th>
                <th></th>
            </tr>
            @foreach (Book b in Model)
            {
                if (!b.isDeleted)
                {
                    <tr>
                        <td>@b.Id</td>
                        <td>@b.Name</td>
                        <td>@b.Price</td>
                        <td>@b.Genre</td>
                        <td>
                            <form action="/Bookstore/DeleteBook/@b.Id" method="post">
                                <button type="submit"  class="glyphicon glyphicon-remove btn btn-link" title="Delete book"/>
                            </form>
                        </td>
                        @*<td>@Html.ActionLink("Delete", "DeleteBook", new { Id = @b.Id})</td>*@
                    </tr>
                }

            }
        </table>
    }
    else
    {
        <h2 class="alert-warning">Nema knjiga za prikaz!</h2>
    }
}


<div>
   @Html.ActionLink("Add more books | ", "Index", "Bookstore")
    @Html.ActionLink("Deleted books", "Deleted", "Bookstore")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
